#Database configuration
#These variables are required for the application to start. Put these into your Run Configuration (Environment Variables)
DB_URL=jdbc:postgresql://localhost:5432/database
DB_USER=database_user
DB_PASSWORD=your_password